.delivery__position{
    display: flex;
    align-items: center;



    .delivery__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 40px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        padding-left: 23px;
    }
    .delivery{
        position: relative;
        width: 50%;
        height: 123px;
        align-items: center;
        padding: 24px 24px 19px 0;;
        box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
        background: rgb(237, 244, 210);
        
        .container{
            display: flex;
            justify-content: flex-end;
            .delivery__img{
                position: relative;
                top: 53px;

            }
        }
      

        &__box{
            display: flex;
            gap: 64px;
            .box{
                row-gap: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img{
                    width: 40px;
                    height: 32.48px;
                }

                &__text{
                    color: rgb(74, 74, 74);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }

    
  }


  .payment__position{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;

    .payment__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 40px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        padding-right: 23px;
    }
    .payment{
        position: relative;
        width: 50%;
        height: 123px;
        padding: 24px 0px 19px 24px;
        box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
        background: rgb(237, 244, 210);
        
        .container{
            display: flex;
            justify-content: start;

            .payment__img{
                position: relative;
                top: -200px;

                
            }
        }
      

        &__box{
            display: flex;
            gap: 64px;
            .box{
                row-gap: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img{
                    width: 40px;
                    height: 32.48px;
                }

                &__text{
                    color: rgb(74, 74, 74);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }

  }
