
head{
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 694px;
    transition: 0.5s;

    &__content{
        display: flex;
        padding: 0 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__imgs_left{
        position: relative;
        &_btn{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .product__title_img{
                color: var(--buttonTxt);
                font-family: Amatic SC;
                font-size: 36px;
                font-weight: 700;
                line-height: 45px;
                text-align: center;
            }
            .header__btn{
                display: flex;
               
                &_txt{
                    height: 40px;
                    width: 143px;
                    color: var(--buttonTxt);
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    padding: 9px 16px;
                    border: 1px solid var(--buttonTxt);
                    background: none;
                    margin-bottom: 40px;
                    &.active{
                        background: var(--buttonTxt);
                        color: var(--activeButton);
                    }
                }
            }
            
        }
        .oil__circle{
            border-radius: 50%;
            width: 481px;
            height: 481px;
            transition: 0.5s;
            box-shadow: var(--circleShadow) 0px 0px 0px 38px ;
            background: var(--circleBack);
            transition: 0.5s;
        }
        .header__img_oil{
            position: absolute;
            top: -115px;
            left: 107px;
            z-index: 3;
            height: 640px;
        }
        .header__img_fruit{
            position: absolute;
            top: 250px;
            left: 223px;
            z-index: 2;
        }

    }

    .header__info_right{
        padding: 0px 7px 0 127px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .product__title{
            color: var(--productTitle);
            font-family: Amatic SC;
            font-size: 36px;
            font-weight: 700;
            line-height: 125%;
            text-align: left;
            padding-bottom: 33px;
            }
    }

    &__btn{
        display: flex;
        gap: 40px;
        .header__btn_txt{
            height: 40px;
            width: 143px;
            color: var(--buttonTxt);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            padding: 9px 16px;
            border: 1px solid var(--buttonTxt);
            background: none;
            margin-bottom: 40px;
            &.active{
                background: var(--buttonTxt);
                color: var(--activeButton);
            }
        }
    }

    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 64px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        padding-bottom: 32px;
    }
    &__text{
        color: rgb(74, 74, 74);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        padding-bottom: 32px;
    }
    &__num{
        display: flex;
        gap: 25px;
        align-items:center;
        .num{
            color: var(--num);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            text-align: center;
        }
        .minus, .plus{
            width: 7px;
            height: 32px;
            padding: 0 16px;
            border: 1px solid rgb(148, 148, 148);
            border-radius: 8px;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 24px;
            background: none;
        }
    }
    &__links_bottom{
        padding-top: 32px;
        display: flex;
        gap: 40px;
        
        .header__link{
            width: 203px;
            height: 48px;
            padding: 8px 48px; 
            border: 1px solid var(--productTitle);
            border-radius: 50px;
            color: var(--productTitle);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
            background: white;
            transition: 0.5s;
           &:hover{
            background: var(--hoverLink);
            color: white;
           }
        
        }
    }

 


}



@media screen and (max-width: 1366px) {
    .header {
        height: 504px;

        &__imgs_left{
            .oil__circle{
                width: 340px;
                height: 340px;
                box-shadow: var(--circleShadow) 0px 0px 0px 26px ;
            }
            .header__img_oil{
                height: 456px;
                top: -80px;
                left: 97px;
            }
            .header__img_fruit{
                position: absolute;
                top: 211px;
                left: 177px;
                z-index: 2;
                width: 188.6px;
                height: 183.39px;
            }
        }
        .header__info_right{
            padding-left: 64px;
        }

        &__btn{
            gap: 8px;
           
      
        }

    } 
}
@media screen and (max-width: 768px) {
    .header {
        height: 871px;
        &__content{
            flex-direction: column;
            justify-content: end;
            height: 100%;
        }
        &__imgs_left{
            height: 683px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            &_btn{
            display: flex;
            }   
            .header__img_oil{
                position: absolute;
                height: 456px;
                top: 96px;
                left: 214px;
            }
            .header__img_fruit{
                top: 367px;
                left: 300px;
                z-index: 2;
            }
        }
        .header__info_right{
            flex-direction: column;
            align-items: center;
            padding: 0;
            height: 240px;
            position: relative;
            top: -50px;
            
            .product__title{
                display: none;
                
            }
        }

        &__btn{
            display: none;
          
        }
        &__title{
            font-size: 48px;
            text-align: center;
            padding-bottom: 8px;
        }
        &__text{
            font-size: 16px;
            text-align: center;


        }


    }  
}
@media screen and (max-width: 320px) {
    .header{
        &__content{
            .oil__circle{
                width: 240px;
                height: 240px;
                box-shadow: var(--circleShadow) 0px 0px 0px 19px ;
            }
        }
        &__imgs_left_btn{
            .header__btn{
                display: none;
            }
        }
        
    }
}