:root[data-theme="idone"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  #9cc71154;
    --circleBack:  linear-gradient(-39.21deg, rgb(83, 102, 20) 15.364%,rgb(151, 194, 11) 84.863%);
    --productTitle: rgb(104, 136, 0);
    --buttonTxt:  rgb(191, 208, 135);
    --activeButton: rgb(84, 107, 6);
    --num: rgb(104, 136, 0);
    --hoverLink: linear-gradient(-39.21deg, rgb(83, 102, 20) 14.555%,rgb(151, 194, 11) 77.387%);
}

:root[data-theme="idtwo"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  rgba(1, 250, 122, 0.322);
    --circleBack:  linear-gradient(-39.42deg, rgb(7, 101, 52) 15.36%,rgb(0, 219, 105) 82.231%);
    --productTitle: rgb(0, 146, 70);
    --buttonTxt:  rgb(105, 212, 158);
    --activeButton: rgb(17, 97, 55);
    --num: rgb(0, 146, 70);
    --hoverLink: linear-gradient(-39.42deg, rgb(7, 101, 52) 14.554%,rgb(0, 219, 105) 75.337%);
}

:root[data-theme="idthree"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  rgba(245, 15, 3, 0.315);
    --circleBack:  linear-gradient(-38.95deg, rgb(153, 22, 14) 15.373%,rgb(232, 66, 57) 81.984%);
    --productTitle: rgb(215, 58, 49);
    --buttonTxt: rgb(115, 18, 13);
    --activeButton:rgb(232, 132, 126);
    --num: rgb(215, 58, 49);
    --hoverLink:linear-gradient(-38.95deg, rgb(153, 22, 14) 14.558%,rgb(232, 66, 57) 74.038%);
}

:root[data-theme="idfour"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow: rgba(255, 132, 0, 0.404);
    --circleBack:   linear-gradient(324.18deg, #BA6400 14.36%, #FF9D34 85.34%)  ;
    --productTitle: rgb(230, 127, 16);
    --buttonTxt: rgb(241, 167, 87);
    --activeButton:rgb(189, 105, 13);
    --num: rgb(230, 127, 16);
    --hoverLink: linear-gradient(-35.60deg, rgb(186, 100, 0) 17.905%,rgb(255, 157, 52) 77.509%);
}



head{
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 694px;
    transition: 0.5s;

    &__content{
        display: flex;
        padding: 0 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__imgs_left{
        position: relative;
        .oil__circle{
            border-radius: 50%;
            width: 481px;
            height: 481px;
            transition: 0.5s;
            box-shadow: var(--circleShadow) 0px 0px 0px 38px ;
            background: var(--circleBack);
            transition: 0.5s;
        }
        .header__img_oil{
            position: absolute;
            top: -115px;
            left: 107px;
            z-index: 3;
            height: 640px;
        }
        .header__img_fruit{
            position: absolute;
            top: 250px;
            left: 223px;
            z-index: 2;
        }

    }

    .header__info_right{
        padding: 0px 7px 0 127px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .product__title{
            color: var(--productTitle);
            font-family: Amatic SC;
            font-size: 36px;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: 0%;
            text-align: left;
            padding-bottom: 33px;
            }
    }

    &__btn{
        display: flex;
        gap: 40px;
        .header__btn_txt{
            color: var(--buttonTxt);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            padding: 9px 16px;
            border: 1px solid var(--buttonTxt);
            background: none;
            margin-bottom: 40px;
            &.active{
                background: var(--buttonTxt);
                color: var(--activeButton);
            }
        }
    }

    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 64px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
    }
    &__text{
        color: rgb(74, 74, 74);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
    }
    &__num{
        display: flex;
        gap: 25px;
        align-items:center;
        .num{
            color: var(--num);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
        }
        .minus, .plus{
            width: 7px;
            height: 32px;
            padding: 0 16px;
            border: 1px solid rgb(148, 148, 148);
            border-radius: 8px;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 24px;
            background: none;
        }
    }
    &__links_bottom{
        padding-top: 32px;
        display: flex;
        gap: 40px;
        
        .header__link{
            width: 203px;
            height: 48px;
            padding: 8px 48px; 
            border: 1px solid var(--productTitle);
            border-radius: 50px;
            color: var(--productTitle);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
            background: white;
            transition: 0.5s;
           &:hover{
            background: var(--hoverLink);
            color: white;
           }
        
        }
    }

 


}