.footer{
    &.active{
        display: none;
    }
    background: rgb(114, 133, 54);
    &__content{
        height: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &_links{
            display: flex;
            gap: 88px;
            .nav__link{
                text-decoration: none;
                color: white;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                text-align: center;
            }
        }
        &_social{
            display: flex;
            gap: 36px;
        }
    }
}



@media screen and (max-width: 1366px) {
    .footer {
        &__content{
            &_links{
                gap: 40px;
                
            }
            &_social{
                gap: 24px;
            }
        }
        
    } 
}
@media screen and (max-width: 768px) {
    .footer {
       &__content{
        padding: 40px 0;
        height: 304px;
        flex-direction: column;
        &_img{
            height: 86px;
        }
        &_social{
            gap: 32px;
        }
       }
    } 
}
@media screen and (max-width: 320px) {
    .footer {
        &__content{
         padding: 40px 0;
         height: 440px;
         flex-direction: column;
        &_links{
            flex-direction: column;
            gap: 16px;
            .nav__link{
                font-size: 14px;
            }
        }
        }
     } 
}