@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=El+Messiri:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root[data-theme="idone"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  #9cc71154;
    --circleBack:  linear-gradient(-39.21deg, rgb(83, 102, 20) 15.364%,rgb(151, 194, 11) 84.863%);
    --productTitle: rgb(104, 136, 0);
    --buttonTxt:  rgb(191, 208, 135);
    --activeButton: rgb(84, 107, 6);
    --num: rgb(104, 136, 0);
    --hoverLink: linear-gradient(-39.21deg, rgb(83, 102, 20) 14.555%,rgb(151, 194, 11) 77.387%);
}

:root[data-theme="idtwo"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  rgba(1, 250, 122, 0.322);
    --circleBack:  linear-gradient(-39.42deg, rgb(7, 101, 52) 15.36%,rgb(0, 219, 105) 82.231%);
    --productTitle: rgb(0, 146, 70);
    --buttonTxt:  rgb(105, 212, 158);
    --activeButton: rgb(17, 97, 55);
    --num: rgb(0, 146, 70);
    --hoverLink: linear-gradient(-39.42deg, rgb(7, 101, 52) 14.554%,rgb(0, 219, 105) 75.337%);
}

:root[data-theme="idthree"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow:  rgba(245, 15, 3, 0.315);
    --circleBack:  linear-gradient(-38.95deg, rgb(153, 22, 14) 15.373%,rgb(232, 66, 57) 81.984%);
    --productTitle: rgb(215, 58, 49);
    --buttonTxt: rgb(115, 18, 13);
    --activeButton:rgb(232, 132, 126);
    --num: rgb(215, 58, 49);
    --hoverLink:linear-gradient(-38.95deg, rgb(153, 22, 14) 14.558%,rgb(232, 66, 57) 74.038%);
}

:root[data-theme="idfour"]{
    --Roboto: "Roboto";
    --Amatic: "AmaticSC";
    --ElMessiri: "ElMessiri";
    --circleShadow: rgba(255, 132, 0, 0.404);
    --circleBack:   linear-gradient(324.18deg, #BA6400 14.36%, #FF9D34 85.34%)  ;
    --productTitle: rgb(230, 127, 16);
    --buttonTxt: rgb(241, 167, 87);
    --activeButton:rgb(189, 105, 13);
    --num: rgb(230, 127, 16);
    --hoverLink: linear-gradient(-35.60deg, rgb(186, 100, 0) 17.905%,rgb(255, 157, 52) 77.509%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 267px;
    background:transparent;
    &__circle{
        width: 316px;
        height: 316px;
        background-color: rgb(125, 160, 12);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -49px;
    }
    &__circle-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        gap: 88px;
    }
    &__link{
        text-decoration: none;
        color: rgb(104, 136, 0);
        font-family: El Messiri;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
        transition: 0.5s;
        &.active{
            color: white;
            padding: 5px;
            border-radius: 5px;
            background: rgb(104, 136, 0);
        }
    }
    &__basket{
        display: flex;
        position: relative;
        .menu{
            display: none;
            color: rgb(104, 136, 0);
            font-size: 40px;
            &.active{
                display: block;
            }
        }

        .basket__right{
            color: rgb(104, 136, 0);
            font-size: 40px;

            
        }
        .basket__number{
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(255, 255, 255);
                font-family: var(--Roboto);
                font-size: 16px;
                line-height: 19px;
                position: absolute;
                top: -15px;
                right: 0;
                &.active{
                    width: 24px;
                    height: 24px;
                    background-color: rgb(215, 58, 49);
                    border-radius: 15px;
                    color: white;
                }
            }
    }

}
header{
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 694px;
    transition: 0.5s;

    &__content{
        display: flex;
        padding: 0 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__imgs-left{
        position: relative;
        .oil__circle{
            border-radius: 50%;
            width: 481px;
            height: 481px;
            transition: 0.5s;
            box-shadow: var(--circleShadow) 0px 0px 0px 38px ;
            background: var(--circleBack);
            transition: 0.5s;
        }
        .header__img-oil{
            position: absolute;
            top: -115px;
            left: 107px;
            z-index: 3;
            height: 640px;
        }
        .header__img-fruit{
            position: absolute;
            top: 250px;
            left: 223px;
            z-index: 2;
        }

    }

    .header__info-right{
        padding: 0px 7px 0 127px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .product__title{
            color: var(--productTitle);
            font-family: Amatic SC;
            font-size: 36px;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: 0%;
            text-align: left;
            padding-bottom: 33px;
            }
    }

    &__btn{
        display: flex;
        gap: 40px;
        .header__btn-txt{
            color: var(--buttonTxt);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            padding: 9px 16px;
            border: 1px solid var(--buttonTxt);
            background: none;
            margin-bottom: 40px;
            &.active{
                background: var(--buttonTxt);
                color: var(--activeButton);
            }
        }
    }

    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 64px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
    }
    &__text{
        color: rgb(74, 74, 74);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 32px;
    }
    &__num{
        display: flex;
        gap: 25px;
        align-items:center;
        .num{
            color: var(--num);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
        }
        .minus, .plus{
            width: 7px;
            height: 32px;
            padding: 0 16px;
            border: 1px solid rgb(148, 148, 148);
            border-radius: 8px;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 24px;
            background: none;
        }
    }
    &__links-bottom{
        padding-top: 32px;
        display: flex;
        gap: 40px;
        
        .header__link{
            width: 203px;
            height: 48px;
            padding: 8px 48px; 
            border: 1px solid var(--productTitle);
            border-radius: 50px;
            color: var(--productTitle);
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: center;
            background: white;
            transition: 0.5s;
           &:hover{
            background: var(--hoverLink);
            color: white;
           }
        
        }
    }

 


}

.basket__hover{
    backdrop-filter: blur(25px);
    background: rgba(21, 24, 21, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    &.active{
        display: flex;
    }
    
}
.basket{
  
    background: white;
    padding: 56px;
    display: flex;
    flex-direction: column;
    width: 1102px;
    height: 1186px;
    &__top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__close{
        font-size: 30px;
        color: rgb(104, 136, 0);
        background: transparent;
        border: none;
    }   

    &__products{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

       
        .products__name-liter{
            display: none;
            gap: 16px;
          
            &.active{
                display: flex;
            }
            .products__name{
                color: rgb(104, 136, 0);
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
                text-align: left;
            }
            .products__liter{
                color: rgb(74, 74, 74);
                font-family: Roboto;
                font-size: 12px;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .product{
            display: none;
            justify-content: space-between;
            align-items: center ;
            width: 100%;
            height: 154px;
            padding: 16px 0;
            &.active{
                display: flex;
            }
            &__img{
                width: 50px;
            }
            &__price{
                display: flex;
                justify-content: center;
                gap: 32px;
                align-items:center;
                
            }
            &__price-total{
                color: rgb(104, 136, 0);
                font-family: Roboto;
                font-size: 24px;
                font-weight: 500;
                line-height: 170.23%;
                letter-spacing: 0%;
                text-align: right;
            }
            &__close{
                font-size: 25px;
                color: rgb(148, 148, 148);
                background: transparent;
                border: none;
            }
        }
        

    }


}


.basket__info{
    display: grid;
    padding-top: 24px;
    grid-template-columns: 2fr 1fr;
    
    
}

.basket__left{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    &-box{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        & span{
            color: rgb(74, 74, 74);
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
        }
        & input{
            color: black;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            border: 1px solid rgb(217, 217, 217);
            border-radius: 4px;
            background: rgb(255, 255, 255);
            padding: 8px 16px;
        }
    }
}





.oil{
    padding-bottom: 80px;
    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 48px;
        font-weight: 400;
        line-height: 61px;
        text-align: center;
        padding-bottom: 96px;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
    }
}

.card{
    width: 360px;
    box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
    background: rgb(255, 255, 255);
    padding: 15px 24px 42px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img-box{
        width: 252px;
        height: 252px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        &:hover{
            box-shadow: var(--circleShadow) 0px 0px 0px 18px ;
            background: var(--circleBack);
            transform: rotate(15deg);
            & img{
                transition: 0.5s;
                transform: scale(1.6);
            }
        }
       
    }
    &__title{
        color: var(--productTitle);
        font-family: Amatic SC;
        font-size: 24px;
        font-weight: 700;
        line-height: 125%;
        text-align: start;
        padding-top: 16px;
    }
    & p{
        color: rgb(74, 74, 74);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 125%;
        text-align: left;
        padding-top: 16px;

    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        &-num{
            display: flex;
            gap: 25px;
            align-items:center;
            
            .num{
                color: var(--num);
                font-family: Roboto;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: center;
            }
            .minus, .plus{
                height: 24px;
                padding: 0 7px;
                border: 1px solid rgb(148, 148, 148);
                border-radius: 8px;
                opacity: 0.5;
                display: flex;
                justify-content: center;
                align-items:center;
                font-size: 16px;
                background: none;
            }
        }

      
    }
    &__liter-price{
        display: flex;
        gap: 16px;
        .card__liter{
            color: rgb(74, 74, 74);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;
        }
        .card__price{
            color: var(--productTitle);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            text-align: center;
        }
    }
   

    &__button{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 26px;
        & button{
            color: var(--productTitle);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
            text-align: center;
            padding: 0 16px;
            box-sizing: border-box;
            border: 1px solid rgb(104, 136, 0);
            border-radius: 50px;
            background: transparent;
            width: 146px;
            &:hover{
                background: var(--hoverLink);;
                color: white;
            }

        }
    }
}



.about{

    padding-bottom: 50px;

    &__content{
        display: flex;
        padding-top: 40px;
        position: relative;
        height: 405px;
        margin-bottom: 30px;
    
    }
    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 48px;
        font-weight: 400;
        line-height: 61px;
        text-align: center;
    }

    &__square{
        width: 195px;
        height: 357px;
        background: rgb(104, 136, 0);
        opacity: 0.4;
        margin-top: 48px;
        &.active{
            right: 0;
            position: absolute;
        }
    }
    &__img{
        position: absolute;
        width: 528px;
        height: 357px;
        left: 85px;
        z-index: 2;
        &.active{
            left: 890px;

        }
 
    }
    &__txt{
        position: absolute;
        margin-top: 48px;
        width: 922px;
        height: 357px;
        box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
        background: rgb(255, 255, 255);
        padding: 24px;
        z-index: 3;
        right: 0;
        &.active{
            left: 0;
        }
       

        &-title{
            color: rgb(74, 74, 74);
            font-family: Amatic SC;
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
            text-align: left;
        }
        &-text{
            color: rgb(74, 74, 74);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            padding-top: 16px;
        }
    }
}

.reviews{
    padding-bottom: 80px;
    &__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 48px;
        font-weight: 400;
        line-height: 61px;
        text-align: center;
        padding-bottom: 40px;
    }
    &__img {
        display: block;
        width: 487px;
        height: 669px;
        object-fit: cover;
      }
}

.swiper {
    width: 100%;
    height: 100%;
 
    &-slide {
        background: #fff;
        display: flex;
        justify-content: center;

       
    
      }
  }

  .delivery__position{
    display: flex;
    align-items: center;



    .delivery__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 40px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        padding-left: 23px;
    }
    .delivery{
        position: relative;
        width: 50%;
        height: 123px;
        align-items: center;
        padding: 24px 24px 19px 0;;
        box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
        background: rgb(237, 244, 210);
        
        .container{
            display: flex;
            justify-content: flex-end;
            .delivery__img{
                position: relative;
                top: 53px;

            }
        }
      

        &__box{
            display: flex;
            gap: 64px;
            .box{
                row-gap: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img{
                    width: 40px;
                    height: 32.48px;
                }

                &__text{
                    color: rgb(74, 74, 74);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }

    
  }


  .payment__position{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;

    .payment__title{
        color: rgb(74, 74, 74);
        font-family: Amatic SC;
        font-size: 40px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        padding-right: 23px;
    }
    .payment{
        position: relative;
        width: 50%;
        height: 123px;
        padding: 24px 0px 19px 24px;
        box-shadow: 10px 10px 35px 0px rgba(190, 191, 183, 0.1);
        background: rgb(237, 244, 210);
        
        .container{
            display: flex;
            justify-content: start;

            .payment__img{
                position: relative;
                top: -200px;

                
            }
        }
      

        &__box{
            display: flex;
            gap: 64px;
            .box{
                row-gap: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img{
                    width: 40px;
                    height: 32.48px;
                }

                &__text{
                    color: rgb(74, 74, 74);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }

  }

  


.swiper-button-prev, .swiper-button-next{
    color: rgb(104, 136, 0);
}
























